body {
    background-color: rgb(42,42,42);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: block;
    margin: auto;
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: rgb(49,49,49);
    padding: 12px 32px;
    min-width: 60%;
    padding-bottom: 40px;
}
.main .version {
    text-align: center;
}
.main h1 {
    text-align: center;
}

.add_button {
    display: block;
    margin: auto;
    text-align: center;
}
.add_button .version {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb(61, 179, 61);
    border: 3px solid none;
}
.button {
    display: inline-block;
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border: 3px solid rgb(61, 179, 61);
    border-radius: 4px;
    transition: 0.3s ease-in-out background-color, 0.3s ease-in-out border;
}
.button:hover {
    background-color: rgb(61, 179, 61);
}

.main .description {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

hr {
    border: 1px solid grey;
}

.main .privacy_policy_link {
    display: block;
    margin: auto;
    position: absolute;
    width: fit-content;
    left:0;right:0;
    bottom: 5px;
    color: grey;
    font-size: 14px;
}